
<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <nav class="navbar navbar-expand-lg navbar-light bg-light" style="margin-top:10px;">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
            <ul class="navbar-nav mx-auto mr-auto mt-2 mt-lg-0">
                <li class="nav-item active navbar-text">
                    <a class="nav-link" href="/Index">Главная<span class="sr-only">(current)</span></a>
                    <!--<NavLink class="nav-link" href="#" Match="NavLinkMatch.All">
                        <span class="oi oi-home" aria-hidden="true"></span> Home
                    </NavLink>-->
                </li>
                <li class="nav-item navbar-text">
                    <!--<a class="nav-link" href="/Category">Каталог товаров</a>-->
                    <NavLink class="nav-link" href="/Category" Match="NavLinkMatch.All">
                        <span class="oi oi-plus" aria-hidden="true"></span>Каталог товаров
                    </NavLink>
                </li>
                <li class="nav-item navbar-text">
                    <a class="nav-link" href="/aboutUs">О сайте</a>
                </li>
                <li class="nav-item navbar-text">
                    <a class="nav-link disabled" href="#">Добавить товар</a>
                </li>
            </ul>
        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }

}