@page "/aboutUs"
@model WebApplication.Pages.AboutUsModel
@{
    ViewData["Title"] = "О сайте";
}
<h3 style="text-align:center; color: darkorchid">@ViewData["Title"]</h3>

<body>
    <div class="main" style="margin-top: 10px; background-color: #f0ddf4; border-radius:10px;">
        <div class="container-fluid">
            <p style="text-align:center">Привет </p>
            <a>Hep</a>
        </div>
    </div>
</body>