@page "/AboutUs"

<h3 style="text-align:center; color: darkorchid">О сайте</h3>

<body>
    <div class="main" style="margin-top: 10px; background-color: #DFF5F0; border-radius:10px;">
        <div class="container-fluid">
            <p style="text-align:center">Привет </p>
            <a>
                Дорогой пользователь, добро пожаловать на наш сайт!
                Здесь вы сможете найти уникальные изделия ручной работы
                Наш сайт создан для того, чтобы помочь талантливым мастерам найти своих клиентов и наоборот.
                Если вы сами являетесь изготовителем хенд-мейд изделий, то самое время продавать их вместе с нами.
            </a>
            <a href="">Регистрация</a>
        </div>
    </div>
</body>
<footer class="pt-4 my-md-5 pt-md-5" style="margin-top: 150px; background-color: #f0f0f0;"></footer>