@page "/Privacy"

<h3 style="text-align:center; color: skyblue">Политика приватности</h3>

<p style="text-align:center">Если вы зашли на эту страничку, то знайте, - Вы самый лучший пользователь :з </p>
